.centred{
    text-align: center;
}

.row {
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px; /* fix for different-height blocks */
    padding-bottom: 99999px;
}

.search-block{
    padding: 10px 0 0 10px;
    transition: all 1s;
}

.album-card{
    margin-top: 10px;
}