
<div class="search-block col-xs-12  col-md-6 offset-md-3">
    <form ng-submit="startSearch()">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchController.query"/>
            <span class="input-group-btn"><button class="btn btn-default">Search {{searchController.query}}</button></span>
        </div>

    </form>
    <br>
    <search-results artists="searchController.artists"></search-results>
    <div ng-show="searchController.error.exists" class="alert alert-danger" role="alert">
        <strong>Упс!</strong> {{searchController.error.text}}
    </div>
</div>