@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

BODY{
    height: 100vh;
    line-height: normal;
    background-color: #fdfdfd;
}
.vertical-center-wrapper {
    position: relative;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#head{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}


.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.full-w-h{
    width: 100%;
    height: 100%;
}


H1{
    font-size: 3em;
}
H2{
    font-size: 2em;
}
H5{
    font-size: 1.3em;
}
a{
    color: #264993;
    text-decoration: none;
}

.line{
    font-size: 1.45em;
    color: black!important;
    position: relative;
}

.line:link:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.line:link:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.line.author{
    text-transform: uppercase;
}
hr.divider{
    content: '';
    width: 40px;
    height: 2px;
    background-color: black;
    margin: 10px auto 40px auto;
}
hr.divider.last{
    margin: 40px auto 40px auto;
}