<div class="row">
    <div class="col-md-4">
        <img src="{{photos.0.src}}" />
    </div>
    <div class="col-md-8">
        <img src="{{photos.0.src}}" class="best-photo"/>
        <div class="photos-wrapper">
            <div class="photos">
                {{#each photos}}
                    <img sdata-original="{{src}}" class="lazy-image" />
                {{/each}}
            </div>
        </div>
    </div>
</div>