#notifications-bottom-right {
    position: fixed !important;
    width: 30% !important;
    right: 20px !important;
    bottom: 20px !important;
    z-index: 2040930493 !important;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif !important;
}
#notifications-bottom-right-tab {
    background-color: rgba(255, 255, 255, 1) !important;
    float: left !important;

    width: 100% !important;
    margin-top: 20px !important;
    position: relative !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
    cursor: pointer !important;
    padding: 0 0 5px 0;

}
img#notifications-img{
    float:left !important;
    width: 40% !important;
    margin: 5px 10px 0 5px !important;
}
a#notificaions-link{
    float:right;
    margin: 0 10px 5px 0;
    text-decoration: none;
    color:#005a8c;
    font-size:10pt;
}
a#notificaions-link:hover{
    text-decoration: inherit;
}
a#notificaions-link:visited{
    color: #005a8c;

}
div#notificaions-title-wrapper{
    width: 100%;
    background-color: #DA3A2F;
    padding: 5px 0 5px 0px;
    height: 36px;

}
div#notificaions-title-wrapper > div#notificaions-closebutton{
    position: absolute;
    right: 15px;
    color: #252525;
    font-sisze:12pt;
    top:12px;
}
div#notificaions-title-wrapper > div#notificaions-closebutton:hover{
    color: white;

}

h4#notificaions-title{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 12pt;
    margin: 0 0 5px 10px !important;
    padding: 10px 0 0 0   !important;
    line-height: 1 !important;
    color: #252525;
    letter-spacing: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-align: left;
    border: none;
}

p#notificaions-p{
    overflow: hidden;
    margin: 5px 10px 10px 0;
    color: #4c4c4c;
    font-style:italic;
    clear: none;
    line-height: 1;
    font-size:10pt;
    text-align: left;
}


@keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    animation-duration: 1s;
}
