@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#app {
    width: 100%;
    height: 100%;
}
.vertical-center-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.page-background {
    background-size: cover;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #00C853;
    height: 3px;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.current{

    text-align: center;
    color: white;


}
.current>span{
    font-size: 40px;
    margin: 50px;
}

.current-thumbnail{
    width: 300px;
    height: 300px;
    margin: auto;
    background-size:100%;
}
.track-name{
    cursor: pointer;
}
.track-name:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.track-name:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#preload-image{
    width: 0;
    height: 0;
    position: absolute;
}

.loading-screen{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    background-color: black;
    color: white;
    text-align: center;
}
.loading{
    width: 50px;
    height: 50px;
}
span.status{
    color: rgba(255,255,255, 0.3);
}